<script type="text/javascript">
    var auth = {
    	module: {
    		list: {{subUrlList['/moongood/module/list']}},
	    	add: {{subUrlList['/moongood/module/add']}},
	    	edit: {{subUrlList['/moongood/module/update']}},
	    	delete: {{subUrlList['/user/permission/module/delete']}}
    	},
    	operator: {
    		list: {{subUrlList['/moongood/operator/list']}},
	    	add: {{subUrlList['/moongood/operator/add']}},
	    	edit: {{subUrlList['/moongood/operator/update']}},
	    	delete: {{subUrlList['/user/permission/element/delete']}} 
	    },
	    // role: {
    	// 	list: {{subUrlList['/erp/role/list']}},
	    // 	add: {{subUrlList['/erp/role/add']}},
	    // 	edit: {{subUrlList['/erp/role/update']}},
	    // 	delete: {{subUrlList['/user/permission/role/delete']}},
	    // 	operator: {{subUrlList['/erp/operator/checkbox']}}
	    // },
	    // staff: {
	    // 	list: {{subUrlList['/erp/staff/list']}},
	    // 	add: {{subUrlList['/erp/staff/add']}},
	    // 	edit: {{subUrlList['/erp/staff/update']}},
	    // 	role: {{subUrlList['/erp/role/checkbox']}}
	    // },
	    // category: {
	    // 	list: {{subUrlList['/erp/category/list']}},
	    // 	add: {{subUrlList['/erp/category/add']}},
	    // 	edit: {{subUrlList['/erp/category/update']}},
	    // 	delete: {{subUrlList['/umbrella/category/delete']}},
	    // 	operator: {{subUrlList['/erp/category/select']}}
	    // },
	    // umbrella: {
	    // 	list: {{subUrlList['/erp/umbrella/list']}},
	    // 	umList: {{subUrlList['/erp/umbrella/umList']}},
	    // 	add: {{subUrlList['/erp/umbrella/add']}},
	    // 	delete: {{subUrlList['/umbrella/umb/delete']}},
	    // 	remove: {{subUrlList['/erp/umbrella/remove']}},
	    // 	search: {{subUrlList['/erp/umbrella/search']}},
	    // 	import:{{subUrlList['/erp/umbrella/import']}}
	    // },
	    // user: {
	    // 	list: {{subUrlList['/erp/user/list']}},
	    // 	search: {{subUrlList['/erp/user/search']}}
	    // },
	    // visualization: {
	    // 	list:{{subUrlList['/erp/visualization/list']}}
	    // },
	    // fault: {
	    // 	list:{{subUrlList['/erp/fault/list']}},
	    // 	add: {{subUrlList['/erp/fault/add']}},
	    // 	delete: {{subUrlList['/umbrella/umb/delete']}},
	    // 	edit: {{subUrlList['/erp/fault/update']}}
	    // },
	    // price: {
	    // 	peizhi:{{subUrlList['/erp/price/peizhi']}}
	    	
	    // },
	    // umbrellaPile: {
	    // 	list:{{subUrlList['/erp/mbrellaPile/list']}}
	    	
	    // }
    };
</script>