<style type="text/css">
    .swfupload {
        width: 100%;
        height: 31px;
    }
    
    .uploadify-button-test {
        width: 100%;
        height: 31px;
        background: #6595e3;
        border-radius: 0;
        border: none;
    }
    
    .uploadify:hover .uploadify-button {
        background: #6595e3;
    }
    
    .img-show {
        margin-bottom: 10px;
    }
    .btn-upload{
        display: inline-block;
        width: 100px;
        height: 100px;
        background: url({{host}}static/h-ui/images/btn-photo.png) no-repeat center center;
        background-size: contain;
    
    }
    
    .input-text[type="number"] {
        width: 100%;
    }
    
    .btn-upload {
        /* width: 200px;
        height: 100px; */
    }
    
    .btn-upload img {
        display: block;
        width: 200px;
        height: 100px;
    }
    
    .upload-url {
        position: absolute;
        width: 200px;
        height: 100px;
        left: 20px;
        display: none;
        /*z-index: -9999;*/
    }
</style>
<script id="form-template" type="text/x-handlebars-template">
    {% raw %}
    <div class="box-content">
        <div class="panel panel-default mt-20">
            <div class="panel-body">
                <form id="editForm" class="form form-horizontal">
                    <div class="row cl">
                        <label class="form-label col-xs-3"><span class="c-red">*</span>合同名称：</label>
                        <div class="formControls col-xs-6">

                            <input type="text" class="input-text radius version" value="{{model.name}}" placeholder="合同名称" name="ordersName">

                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-3"><span class="c-red">*</span>合同类型：</label>
                        <div class="formControls col-xs-6">
                                <select name="typeStr" class="select typeStr" style="width: 100%;">
                                        <option value="">请选择合同类型</option>
                                        <option value=10 {{#equal model.type 10 }}selected="selected"{{/equal}}>普通合同</option>
                                        <option value=20 {{#equal model.type 20 }}selected="selected"{{/equal}}>热门合同</option>
                                    </select>
                        </div>
                    </div>

                    
                    <div class="row cl">
                        <label class="form-label col-xs-3"><span class="c-red">*</span>电子合同：</label>
                        <div class="formControls col-xs-2">
                            <div class="text-c btn-upload"></div>
                            <input class="upload-url" type="file" name="upfile" id="uploadfile1">
                            <input type="button"  class="btn btnSum mt-10 ml-10 radius" value="上传电子合同">
                        </div>

                    </div>
                    <div class="row text-c ">
                        <input class="btn btn-primary submit btnSum2" value="提交">
                    </div>
                </form>

            </div>
        </div>


    </div>

    {% endraw %}
</script>
<style type="text/css">
    body {
        overflow-x: hidden;
    }
</style>
<script type="text/javascript">
    function ajaxFileUpload(id) {
        var biz;
        if (id == "uploadfile1") {
            biz = "idcard"
        }
        var extras = {
            _api: 'upload',
            _v: '1.0',
            biz: biz
        };

        $.ajaxFileUpload({
            url: '{{api}}upload?' + $._apiClient.buildData(extras),
            secureuri: false,
            fileElementId: id,
            dataType: 'jsonp',
            success: function(data, status) {
                // alert(data)
                if (data.success == true) {

                    var authUrl = replaceAll(data.model.authUrl, '&amp;', '&');

                    $("#" + id).siblings(".btn-upload").children('img').attr('src', authUrl);
                    console.log(authUrl)
                    $('.upload-url').hide();
                    $("#" + id).siblings(".btn-upload").show();
                    if (id == "uploadfile1") {
                        $('input[name="idCardNagativeImg"]').val(data.model.filename)
                    }
                } else {
                    data.msg = data.msgInfo || "服务器出错，请稍后再试";
                    layer.alert(data.msg);

                }
                console.log(status)
            },
            error: function(data, status, e) {
                // alert('上传出错');
                layer.alert("服务器出错，请稍后再试")
            }
        })
    }
    $(document).ready(function() {

        {% if operation == 'edit' %}
        request("{{api}}mapi", {
            contractId: getQueryParam('id'),
            _api: "zj.contract.info.get",
            _v: "1.0"
        }).done(function(response) {
            response.id = getQueryParam('id');
            substitute("#form-template", response);


            $(".btnSum").click(function() {

                if ($(this).siblings('.upload-url').val() != "") {
                    var id = $(this).siblings('.upload-url').attr('id')
                        // alert(id)
                    ajaxFileUpload(id);
                }
            })



            $(".btn-upload").click(function() {
                $(this).siblings('.upload-url').click()
                $(this).css("display", "none").siblings('.upload-url').css({
                    "display": "block",
                    "width": "300px ",
                    "height": "20px"
                })



            })
            $(".btnSum2").click(function() {
                if ($('input[name="ordersName"]').val() != '' 
                && $('select[name="typeStr"]').val() !=='') {
                    request("{{api}}mapi", {
                        contractId: getQueryParam('id'),
                        _api: "zj.contract.info.update",
                        _v: "1.0",
                        name: $('input[name="ordersName"]').val(),
                        url: 'www.test.order_modify.com',
                        type: $('select[name="typeStr"]').val()
                    }).done(function(response) {
                        console.log(response)
                        if (response.success == true) {
                            layer.msg('修改成功');
                            setTimeout(function() {
                                location.href = '/moongood/financeOrders/list'
                            }, 1000);

                        }
                    })
                } else {
                    layer.msg('请填写完信息');
                    return;
                }

            })
        }) 
        {% else %}


        substitute("#form-template", {});
        $(".btnSum").click(function () {
            if($(this).siblings('.upload-url').val()!=""){
                var id=$(this).siblings('.upload-url').attr('id')
                // alert(id)
                ajaxFileUpload(id);	
            }
        })
        $(".btn-upload").click(function () {
					
            $(this).siblings('.upload-url').click()
            $(this).css("display","none").siblings('.upload-url').css({"position":"relative","width":"100%"}).show()
                
            
        })
        $(".submit").click(function() {
            if ($('input[name="ordersName"]').val() != '' 
            && $('select[name="typeStr"]').val() !=='') {
                    request("{{api}}mapi", {
                        contractId: getQueryParam('id'),
                        _api: "zj.contract.info.create",
                        _v: "1.0",
                        name: $('input[name="ordersName"]').val(),
                        url: 'www.test.order.com',
                        type: $('select[name="typeStr"]').val()
                    }).done(function(response) {
                        console.log(response)
                        if (response.success == true) {
                            layer.msg('添加成功');
                            setTimeout(function() {
                                location.href = '/moongood/financeOrders/list'
                            }, 1000);
                        }
                    })
                } else {
                    layer.msg('请填写完信息');
                    return;
                }
        })
        {% endif %}

    })
</script>