{% extends "../layout/default.html" %} {% block content %}

<script id="list-template" type="text/x-handlebars-template">
    {% raw %}
    <section class="Hui-article-box">
        <nav class="breadcrumb">
            <div class="container">
                <i class="Hui-iconfont">&#xe67f;</i>
                <a href="/moongood/financeOrders/list" class="c-primary">理财师合同列表</a>

            </div>

        </nav>
        <div class="row ml-20 mt-20 mr-20 clearfix">

            <a class="btn  btn-success f-l mr-10 addBtn" style="font-size: 14px;" href="/moongood/financeOrders/add">
                <i class="Hui-iconfont">&#xe600;</i> 添加理财师合同
            </a>
        </div>
        <div class="box-content pd-20">
            <table class="table table-border table-bordered table-striped table-bg table-hover table-sort" id="table">
                <thead>
                    <tr class="text-c">
                        <th>合同名称</th>
                        <th>合同编号</th>
                        <th>合同类型</th>
                        <th>电子合同</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if model}} {{#each model}}
                    <tr class="text-c">
                        <td>{{name}}</td>
                        <td><a>{{no}}</a></td>
                        <td>{{typeStr}}</td>
                        <td><a>{{url}}</a></td>
                        <td>
                            <a class="btn btn-info mt-5" href="/moongood/financeOrders/edit?id={{contractId}}"> <i class="glyphicon glyphicon-zoom-in icon-white"></i> 编辑</a>
                            <a class="btn btn-danger mt-5" onclick="deleteItem('{{contractId}}')" href="javascript:void(0)"> <i class="glyphicon glyphicon-zoom-in icon-white"></i> 删除</a>
                        </td>
                    </tr>
                    {{/each}} {{else}}
                    <tr class="text-c">
                        <td colspan='4'>暂时还没有数据哦</td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
            {{#if model}}
            <div class="text-center">
                <div id="splitPageDiv" class="pagination pagination-centered"></div>
            </div>
            {{/if}}
        </div>
    </section>
    {% endraw %}
</script>

{% include "../layout/insidePage.html" %}

<script type="text/javascript">
    var deleteItem = function(id) {
        layer_confirm("确认删除?", "{{api}}mapi", {contractId: id,_api:'zj.contract.info.delete',_v: '1.0'});
    };
    $(document).ready(function() {
        request({
            url: "{{api}}mapi",
            data: {
                _api: 'zj.contract.info.search',
                _v: '1.0',
                page: getQueryParam('pageIndex') || 1,
                pageSize: 10
            },
            type: "post",
            dataType: "jsonp",
            jsonp: 'callback'
        }).done(function(response) {
            console.log(response);
            substitute("#list-template", response);
            initPage({
                count: response.count,
                pageIndex: parseInt(getQueryParam("pageIndex")) || 1

            });
        })
    })
</script>
{% endblock %}