
<style type="text/css">
.swfupload{
	width: 100%;
	height: 31px;
}
.uploadify-button-test {
	width: 100%;
	height: 31px;
	background:#6595e3;
	border-radius: 0;
	border: none;
}
.uploadify:hover .uploadify-button {
	background:#6595e3;
}
.img-show{
	margin-bottom: 10px;
}

.btn-upload{
	/*display: inline-block;*/
	width: 100px;
	height: 100px;
	background: url({{host}}static/h-ui/images/btn-photo.png) no-repeat center center;
	background-size: contain;

}

.icon{
	display: block;
	width: 100px;
}
.upload-url{
	position: absolute;
	width: 100px;
	height: 100px;
	left:20px;
	display: none;
	/*z-index: -9999;*/
}

@media screen and (max-width: 768px){
    #edui51_body{
        width: 50%!important;
    }
    
}

</style>
<script id="form-template" type="text/x-handlebars-template">
{% raw %}
<div class="box-content">
	<div class="panel panel-default mt-20">
		<div class="panel-body">
			
			<form id="editForm" class="form form-horizontal">
				
				<div class="row cl">
					<label class="form-label col-xs-3" ><span class="c-red">*</span>财金列表icon：</label>
					<div class="formControls col-xs-6 text-c">
						<div class="text-c btn-upload"></div>
						<input class="upload-url" type="file" name="upfile" accept="image/*" id="uploadfile1">
						<input type="button" class="btn btnSum mt-10 ml-10 radius"  value="上传图片">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3" ><span class="c-red">*</span>标题：</label>
					<div class="formControls col-xs-6 text-c">
						<textarea cols="" rows="" class="textarea radius" maxlength="50" name="title" id="beizhu" placeholder="请输入标题">{{model.title}}</textarea>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3" ><span class="c-red">*</span>标签：</label>
					<div class="formControls col-xs-6 text-c">
						<!-- <input class="input-text radius" name="tag" maxlength="2" value="{{model.tag}}" /> -->
						<select class="select"  name="tag" >
					<!-- 	热点 要闻 解析 推荐 -->
						{{#if model.tag}}
							<option value="热点"  {{#equal model.tag '热点' }}selected="selected"{{/equal}}>热点</option>
							<option value="要闻" {{#equal model.tag '要闻' }}selected="selected"{{/equal}}>要闻</option>
							<option value="解析" {{#equal model.tag '解析' }}selected="selected"{{/equal}}>解析</option>
							<option value="推荐" {{#equal model.tag '推荐' }}selected="selected"{{/equal}}>推荐</option>
						{{else}}
							<option value="热点"  >热点</option>
							<option value="要闻">要闻</option>
							<option value="解析" >解析</option>
							<option value="推荐" >推荐</option>
						{{/if}}
						</select>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3" ><span class="c-red">*</span>是否推荐：</label>
					<div class="formControls col-xs-6 text-c">
						<select class="select"  name="isRecommend" >
						{{#if model.isRecommend }}
							<option value="0"  {{#equal model.isRecommend '0' }}selected="selected"{{/equal}}>否</option>
							<option value="1" {{#equal model.isRecommend '1' }}selected="selected"{{/equal}}>是</option>
							
						{{else}}
							<option value="0" >否</option>
							<option value="1" >是</option>
						{{/if}}
						</select>
					</div>
				</div>
				<input type="hidden" class=" mt-10 "  value="{{model.content}}" name="content">
				<input type="hidden" class=" mt-10"  value="{{model.iconImg}}" name="iconImg">
				
				
				
				<p class="pt-10">财经详情图文编辑：</p>
				<script id="editor" type="text/plain" style="width:100%;height:400px; ">
					      		

				</script>

				
				
		
				<div class="row text-c row1 ">
				   <input class="btn btn-primary submit1" type="button"  value="审核通过">
				   <input class="btn btn-primary submit2" type="button" value="不通过" >
				</div>
				
				
				
				<div class="row text-c row2">
				   <input class="btn btn-primary submit mt-10 btnSum2" type="submit" value="确认">
				</div>
		
			</form>
			
		
			
		  
		</div>
	</div>


</div>
{% endraw %}
</script>

<style type="text/css">
	body{
		overflow-x: hidden;
	}

</style>

<script type="text/javascript">
	function insertHtml(value) {
       
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
 function ajaxFileUpload(id) {
	var extras = {
        _api: 'upimg',
        _v: '1.0',
        biz:"photo"
		};
		
	$.ajaxFileUpload({
        url : '{{api}}upimg?'+$._apiClient.buildData(extras),
        secureuri: false,
        fileElementId : id,
        dataType : 'jsonp',
        success : function(data, status) {
        	// alert(data)
        	if(data.success==true){
        		
        		$(".btn-upload").css({'background':'url('+data.model.url+data.model.filename+') no-repeat center center',"background-size":"contain"}).show();
        		$('.upload-url').hide();
        		$('input[name="iconImg"]').val(data.model.filename)
        	}else{
        		data.msg = data.msgInfo || "服务器出错，请稍后再试";
        		layer.alert(data.msg);
        		
        	}
         console.log(status)
        },
        error : function(data, status, e) {
            layer.alert("服务器出错，请稍后再试");
        }
    })
}


$(document).ready(function(){
	
	
	{% if operation == 'edit' || operation == 'update'%}
		request("{{api}}mapi",{_api: 'zj.economics.detail',_v: '1.0',economicsId: getQueryParam('id')}).done(function(response){
			// request({
			// 	url: "{{api}}mapi",
			// 	data: {_api: 'zj.economics.detail',_v: '1.0',economicsId: getQueryParam('id')},
			// 	type: "get"
			// }).done(function(response){
			response.id = getQueryParam('id');
			// console.log(response.model)
			// var model=response.model
			if(getQueryParam('update')=='update'){
				$('.row2').hide();
				
			}else {
				$('.row1').hide();
				// response.edit=getQueryParam('update');
			}
			substitute("#form-template",  response);
			 UE.getEditor('editor');
			$(".btn-upload").css({'background':'url('+response.model.iconImgDomain+response.model.iconImg+') no-repeat center center',"background-size":"contain"});
			
			setTimeout(function(){
				var value=decodeURIComponent(response.model.content)
				console.log(value)
				insertHtml(value)

			 }, 1000);
			$(".btnSum").click(function () {

		      	if($(this).siblings('.upload-url').val()!=""){
		      		var id=$(this).siblings('.upload-url').attr('id')
		      		// alert(id)
		            ajaxFileUpload(id);	
		      	}
		      })
			$(".btn-upload").click(function () {
				$(this).siblings('.upload-url').click()
				$(this).css("display","none").siblings('.upload-url').css({"position":"relative","width":"100%"}).show()
				
		            
		      	
		      })
			$(".btnSum2").click(function () {
				
				// alert($('textarea[name="title"]').val().indexOf(" "))
				$('input[name="content"]').val(UE.getEditor('editor').getContent())
				if($('input[name="iconImg"]').val()!=""&&$('input[name="content"]').val()!="img{display:block;width:100%;}p{color:#7d828a!important;line-height:26px;font-size:15px;padding-top:5px;}</style>"&&$('textarea[name="title"]').val().replace(/(^\s*)|(\s*$)/g, "")!=""&&$('select[name="tag"]').val().replace(/(^\s*)|(\s*$)/g, "")!=''){
					var json={
						_api: 'zj.economics.update',
				        _v: '1.0',
				        iconImg:$('input[name="iconImg"]').val(),
				       	economicsId:getQueryParam('id'),
				        title:$('textarea[name="title"]').val().replace(/(^\s*)|(\s*$)/g, ""),
						content:encodeURIComponent($('input[name="content"]').val()),
				        isRecommend:$('select[name="isRecommend"]').val(),
				        tag:$('select[name="tag"]').val().replace(/(^\s*)|(\s*$)/g, "")

				        
					}


					request("{{api}}mapi",json).done(function(response,option){
					    		// console.log(option.data);
					    if(response.success==true)	{
					    	layer.msg('提交成功');
					    	setTimeout(function(){
					    		location.href='/moongood/finance/list'
					    	}, 1000);
					    }	
					    		
					})
				}else{
					layer.msg('请填写完信息');
				}
				
					
		      
		      })
			$(".submit1").click(function(){
				request("{{api}}mapi",{economicsId: getQueryParam('id'),status:3,_api:"zj.economics.update",_v:"1.0"}).done(function(response){
					console.log(response)
					if(response.success==true){
						layer.msg('审核通过');
				    	setTimeout(function(){
				    		location.href='/moongood/finance/list'
				    	}, 1000);
						
					}
				})
					
					

			})
			$('.submit2').click(function(){
				
				  // layer.close(index);
				  layer.prompt({title: '不通过原因', formType: 2}, function(text, index){
				  	console.log(text)
				  	console.log(index)
				  	request("{{api}}mapi",{economicsId: getQueryParam('id'),status:2,_api:"zj.economics.update",_v:"1.0",auditFailReason:text}).done(function(response){
						console.log(response)
						if(response.success==true){
							layer.close(index);
							layer.msg('不通过原因上传成功');
					    	setTimeout(function(){
					    		location.href='/moongood/finance/list'
					    	}, 1000);
							
						}
					})
				    // layer.close(index);
				    
				  });
				// });
			})
				  
			// UE.getEditor('editor').setContent("我是插入的")
        // UE.getEditor('editor').execCommand('insertHtml', response.model.content)
       
		 // UE.getEditor('editor').execCommand('insertHtml', response.model.content)
		  // var value = prompt('插入html代码', response.model.content);
        	// UE.getEditor('editor').execCommand('insertHtml', value)
		// setContent()
		
	
		
		})
	{% else %}

		// var version=getCookie('version');
		// var batch=getCookie('batch');
		// var res={"version":version,"batch":batch}
		$('.row1').hide();
		substitute("#form-template", {});
		var ue = UE.getEditor('editor');
		
		
		

		
      $(".btnSum").click(function () {

      	if($(this).siblings('.upload-url').val()!=""){
      		var id=$(this).siblings('.upload-url').attr('id')
      		// alert(id)
            ajaxFileUpload(id);	
      	}
      })
	
	$(".btnSum2").click(function () {
		
		$('input[name="content"]').val('<style>img{display:block;width:100%;}p{color:#7d828a!important;line-height:26px;font-size:15px;padding-top:5px;}</style>'+UE.getEditor('editor').getContent())
		// var str=$('textarea[name="title"]').val();
				
			
				
				
		if($('input[name="iconImg"]').val()!=""&&$('textarea[name="title"]').val().replace(/(^\s*)|(\s*$)/g, "")!=""&&$('input[name="content"]').val()!="<style>img{display:block;width:100%;}p{color:#7d828a!important;line-height:26px;font-size:15px;padding-top:5px;}</style>"&&$('select[name="tag"]').val().replace(/(^\s*)|(\s*$)/g, "")!=''){
			var json={
				_api: 'zj.economics.create',
		        _v: '1.0',
		        iconImg:$('input[name="iconImg"]').val(),
		       
		        title:$('textarea[name="title"]').val().replace(/(^\s*)|(\s*$)/g, ""),
				content:encodeURIComponent($('input[name="content"]').val()),
		        isRecommend:$('select[name="isRecommend"]').val(),
		        tag:$('select[name="tag"]').val().replace(/(^\s*)|(\s*$)/g, "")

		        
			}


			request("{{api}}mapi",json).done(function(response,option){
			    		// console.log(option.data);
			    if(response.success==true)	{
			    	layer.msg('提交成功');
			    	setTimeout(function(){
			    		location.href='/moongood/finance/list'
			    	}, 1000);
			    	// location.href='/moongood/finance/list'
			    }	
			    		
			})
		}else{
			layer.msg('请填写完信息');
		}
		
			
      
      })

	$(".btn-upload").click(function () {
		$(this).siblings('.upload-url').click()
		$(this).css("display","none").siblings('.upload-url').css({"position":"relative","width":"100%"}).show()
		
            
      	
      })

		// alert($("#HuiTab-demo1").children('.tabBar').children('span').attr("class"))
		
		
	
		

	
	
	
	
	{% endif %}
		// alert(i)
	
})

    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }

</script>