

{% block content %}



<div class="box-content">
	<div class=" panel-default mt-20">

			<p class="text-c mt-20">不通过原因</p>
			<form id="editForm" class="form form-horizontal">
						
						
						<div class="row cl">
							<textarea class="radius pl-10 pr-10" style="display:block;width: 80%;margin:0 auto;height: 200px;box-sizing: border-box;  resize:none;"></textarea>
						</div>

	
						
						<div class="row text-c ">
						   <input class="btn btn-primary submit"  type="submit" value="提交">
						</div>
						
					</form>
						
		
	</div>
	
	
</div>
{% include "../layout/insidePage.html" %}

{% endblock %}