
{% extends "../layout/default.html" %} 
{% block content %}
	<script id="list-template" type="text/x-handlebars-template">
	{% raw %}
	<section class="Hui-article-box">
	<nav class="breadcrumb">
		<div class="container">
			<i class="Hui-iconfont">&#xe67f;</i>
			<a href="/moongood/product/list" class="c-primary">产品列表</a>
			
		</div>
		
	</nav>
	<div class="row ml-20 mt-20 mr-20 clearfix">
		{{#if projectId}}
		<a class="btn  btn-success f-l mr-10 addBtn" style="font-size: 14px;" href="/moongood/product/add?projectId={{projectId}}&companyId={{companyId}}&companyCategory={{companyCategory}}">
			<i class="Hui-iconfont">&#xe600;</i>
			添加产品
		</a>
		{{else}}
		<a class="btn  btn-success f-l mr-10 addBtn" style="font-size: 14px;" href="/moongood/product/add?companyId={{companyId}}&companyCategory={{companyCategory}}">
			<i class="Hui-iconfont">&#xe600;</i>
			添加产品
		</a>
		{{/if}}
	
		<div class="text-r f-r">
			<form id="splitPage" action="/moongood/product/list">
				<input placeholder="产品名称" style="width:120px" class="input-text mb-5 radius" type="text" name="productName" value='{{productName}}' maxlength="50" >
				<input type="hidden" class=" mt-10"  value="{{projectId}}" name="id">
				<input type="hidden" class=" mt-10"  value="{{companyId}}" name="companyId">
				<input type="hidden" class=" mt-10"  value="{{companyCategory}}" name="companyCategory">
				<span class="select-box radius" style="width:120px;">
					<select class="select productCategoryId " name="productCategoryId"  style="height:22px;">
						<option value="" selected="">产品分类</option>
						{{#each productCategory}}
						<option value="{{productCategoryId}}">{{productCategoryName}}</option>
						{{/each}}
					</select>
				</span>
				<span class="select-box radius" style="width:120px;">
					<select class="select status " name="status"  style="height:22px;">
						<option value="" selected="">产品状态</option>
						
						<option value="-1">删除</option>
						<option value="0">下架</option>
						<option value="1">上架</option>
						
					</select>
				</span>
				
				<button name="" id="" class="btn btn-success radius" type="submit">
					<i class="Hui-iconfont">&#xe709;</i>
					查询
				</button>
			</form>
		</div>
	</div>

	<div class="box-content pd-20">
		<table class="table table-border table-bordered table-striped table-bg table-hover table-sort" id="table">
			<thead>
				<tr class="text-c">
					<th>编号</th>
					<th>产品名称</th>
					<th>所属项目</th>
					<th>所属分类</th>
					<th>起投资金</th>
					{{#equal companyCategory '21' }}
					<th>业绩基准</th>
					{{else}}
					<th>出让股权</th>
					{{/equal}}
					<th>投资期限</th>
					<th>更新时间</th>
					<th>是否上架</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>	
				{{#if model}}

					{{#each model}}
					<tr class="text-c">
						<td>{{id}}</td>
						<td>{{productName}}</td>
						<td>{{projectName}}</td>
						<td>{{productCategoryName}}</td>
						<td class="count" data-count='{{amtInvestmentMin}}'></td>
						{{#equal companyType '88' }}
						<td>{{ratePerformBaseComparison}}%</td>
						{{else}}
							<td>{{rightValue}}%</td>
						{{/equal}}
						<td>{{investmentTerm}}</td>
						<td class="addTime" data-time='{{updatedTime}}'></td>
						<td class="status" data-status="{{status}}"></td>
						<td>
							
							{{#equal status '1' }}
							<a class="btn btn-info mt-5" onclick="xiaItem('{{id}}')"> <i class="glyphicon glyphicon-zoom-in icon-white"></i> 下架</a>
							{{/equal}}
							{{#equal status '0' }}
							{{#if projectId}}
							<a class="btn btn-info mt-5" href="/moongood/product/edit?id={{id}}&projectId={{projectId}}&companyId={{companyId}}&companyCategory={{companyType}}"> <i class="glyphicon glyphicon-zoom-in icon-white"></i> 编辑</a>
							{{else}}
							<a class="btn btn-info mt-5" href="/moongood/product/edit?id={{id}}&companyId={{companyId}}&companyCategory={{companyType}}"> <i class="glyphicon glyphicon-zoom-in icon-white"></i> 编辑</a>
							{{/if}}
							<a class="btn btn-info mt-5" onclick="shangItem('{{id}}')"> <i class="glyphicon glyphicon-zoom-in icon-white"></i> 上架</a>
							<a class="btn btn-danger mt-5" onclick="deleteItem('{{id}}')" href="javascript:void(0)"> <i class="glyphicon glyphicon-zoom-in icon-white"></i> 删除</a>
							{{/equal}}
							{{#equal status '2' }}
							{{#if projectId}}
							<a class="btn btn-info mt-5" href="/moongood/product/edit?id={{id}}&projectId={{projectId}}&companyId={{companyId}}&companyCategory={{companyType}}"> <i class="glyphicon glyphicon-zoom-in icon-white"></i> 编辑</a>
							{{else}}
							<a class="btn btn-info mt-5" href="/moongood/product/edit?id={{id}}&companyId={{companyId}}&companyCategory={{companyType}}"> <i class="glyphicon glyphicon-zoom-in icon-white"></i> 编辑</a>
							{{/if}}
							<!-- <a class="btn btn-info mt-5" href="/moongood/product/edit?id={{id}}"> <i class="glyphicon glyphicon-zoom-in icon-white"></i> 编辑</a> -->
							<a class="btn btn-danger mt-5" onclick="deleteItem('{{id}}')" href="javascript:void(0)"> <i class="glyphicon glyphicon-zoom-in icon-white"></i> 删除</a>
							{{/equal}}
							
						</td>
					</tr>
					{{/each}}
					{{else}}
					<tr class="text-c">
						<td colspan='10'>暂时还没有数据哦</td>
					</tr>
				{{/if}}	
			</tbody>
		</table>
		{{#if model}}
		<div class="text-center">
			<div id="splitPageDiv" class="pagination pagination-centered"></div>
		</div>
		{{/if}}	
	</div>
  </section>
	{% endraw %}
	</script>
	{% include "../layout/insidePage.html" %}

	<script type="text/javascript">
	function keysrt(key,desc) {  
	  return function(a,b){  
	    return desc ? ~~(a[key] < b[key]) : ~~(a[key] > b[key]);  
	  }  
	} 
		var deleteItem = function(id){
			// alert(id)
			layer_confirm("确认删除?", "{{api}}mapi", {productId: id,_api:'zj.product.update',_v: '1.0',status:-1});
		};
		var shangItem = function(id){
			// alert(id)
			layer_confirm("确认上架?", "{{api}}mapi", {productId: id,_api:'zj.product.update',_v: '1.0',status:1});
		};
		var xiaItem = function(id){
			// alert(id)
			layer_confirm("确认下架?", "{{api}}mapi", {productId: id,status:0,_api:'zj.product.update',_v: '1.0'});
		};
		var productCategory=[],productCategory1;
		$(document).ready(function(){
			request("{{api}}mapi",{_api: 'zj.product.category',_v: '3.0',parentId:getQueryParam("companyCategory")}).done(function(response){
				response.model.sort(keysrt('productCategoryId',false));
				console.log(response.model.sort(keysrt('productCategoryId',false)))
				for (var i = 0; i < response.model.length; i++) {
					productCategory.push(response.model[i].productCategoryName)
					
				}
				productCategory1=response.model;
			
				console.log(productCategory)
				
			})
			setTimeout(function(){
				request({
					url: "{{api}}mapi",
					data: {_api:'zj.product.search',_v:'1.0',page: getQueryParam('pageIndex') || 1, status: getQueryParam('status') || undefined, productCategoryId: getQueryParam('productCategoryId') || undefined,productName: getQueryParam('productName') || undefined,projectId:getQueryParam('id') || undefined,companyId:getQueryParam('companyId') || undefined,companyType:getQueryParam('companyCategory')|| undefined,pageSize:10},
					// data: {_api:'zj.product.search',_v:'1.0',page: getQueryParam('pageIndex') || 1, pageSize:10},
					type: "post",
					dataType: "jsonp",
            		jsonp: 'callback'
				}).done(function(response){
					console.log(response)
					
					response.projectId=getQueryParam('id') || undefined;
					response.companyId=getQueryParam('companyId') || undefined;
					response.companyCategory=getQueryParam('companyCategory') || undefined;
					response.productCategory=productCategory1;
					response.status= getQueryParam("status")||undefined;
					response.productName = getQueryParam("productName")||undefined;
					response.productCategoryId = getQueryParam("productCategoryId")||undefined;
					for (var i = 0; i < response.model.length; i++) {
						response.model[i].companyType=getQueryParam('companyCategory') || undefined;
					}
					substitute("#list-template", response);
					getTimeList('.addTime');
					// getStatusList(productCategory);
					getList(".status option",response.status);
					getList(".productCategoryId option",response.productCategoryId);
					// getStatusList(["资管产品","基金产品"]);				
					// -1-删除 0-下架 1-上架
					getStatus(["删除", "下架","上架","编辑"]);
					getCount('.count');
					initPage({
						count: response.count,
						pageIndex: parseInt(getQueryParam("pageIndex")) || 1
					});
				})
			}, 500);
		})
	</script>
{% endblock %}

