
{% extends "../layout/insidePage.html" %} 
{% block content %}

<style type="text/css">

input[type="checkbox"]{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 3px;

}


</style>
	<script id="list-template" type="text/x-handlebars-template">
	{% raw %}
	<section class="Hui-article-box">
	
	<div class="row ml-20 mt-20 mr-20 clearfix">
		
		
		
	
			<form id="splitPage" action="/moongood/activity/search">
			
				
				<span class="select-box radius" style="width:120px">
					<select class="select provinceCode" name="provinceCode" value="{{provinceCode}}" style="height:22px;">
						<option value="">选择省份</option>
						{{#each city}}
							<option value="{{areaId}}">{{areaName}}</option>
						{{/each}}
					</select>
				</span>
				
				
					
				{{#if cityCodeStr}}
					<span class="select-box radius" style="width:120px;">
						<select class="select cityCode" name="cityCode" value="{{cityCode}}" style="height:22px;">
							<option value="{{cityCode}}">{{cityCodeStr}}</option>
						</select>
					</span>
						
				{{else}}
				<span class="select-box radius" style="width:120px;display: none;">
					<select class="select cityCode" name="cityCode" value="{{cityCode}}" style="height:22px;">
						
					</select>
				</span>
				{{/if}}
				{{#if districtCodeStr}}
				<span class="select-box radius" style="width:120px;">
					<select class="select districtCode" name="districtCode" value="{{districtCode}}" style="height:22px;">
						<option value="{{districtCode}}">{{districtCodeStr}}</option>
					</select>
				</span>
				{{else}}
				<span class="select-box radius" style="width:120px;display: none;">
					<select class="select districtCode" name="districtCode" value="{{districtCode}}" style="height:22px;">
						
					</select>
				</span>
				{{/if}}
				<input type="hidden" name="cityCodeStr"  value="{{cityCodeStr}}" />
				<input type="hidden" name="districtCodeStr" value="{{districtCodeStr}}" />
				
				
				
				
				
				<button name="" id="" class="btn btn-success radius" type="submit">
					<i class="Hui-iconfont">&#xe709;</i>
					查询
				</button>
			</form>
	</div>
	<div class="row cl ml-20 mt-20 mr-20 clearfix text-l" style=" ">
	{{#if model}} 
		{{#each model}}
		<div class="col-xs-3 "><input class="role-item va-m element-item" name="elementIdList" type="checkbox" value="{{id}}" {{#if isChecked}}checked="true"{{/if}}>{{realname}}</div>
		{{/each}}
	{{else}}
		<div class="col-xs-3 ">没有你要找的客户经理</div>
	{{/if}}
	</div>
	
	<div class="ml-20 mt-20 mr-20 clearfix text-r " style="border-top:1px solid #ccc;"> 
		<input class="btn btn-primary submit mt-10 btnSum2"  value="确认">
	</div>
  </section>
	{% endraw %}
	</script>

	<script type="text/javascript">
		
		var city,aa,idArray = [],nameArry=[],idArrayStr='',manager=[],manager1=[];
		function city(){
			$.ajax({
				type: "GET",
				url: "../../../hui-admin/static/js/city.json",
				dataType:"jsonp",
			    jsonp:'callback',
				success: function(d){
					city=d;
					
				}
			});
		}
		function removeDuplicatedItem(arr) {
		     for(var i = 0; i < arr.length-1; i++){
		       for(var j = i+1; j < arr.length; j++){
		           if(arr[i]==arr[j]){

		             arr.splice(j,1);//console.log(arr[j]);
		               j--;
		            }
		       }
		    }
		    return arr;
		 }
		 function replaceEmptyItem(arr){
		    for(var i=0,len=arr.length;i<len;i++){
		        if(!arr[i]|| arr[i]==''){
		            arr.splice(i,1);
		            len--;
		             
		        }
		    }
		}
		function setVal(){
			
			$(".element-item").on("change", function(){
				var o = $(this);
				
				// alert('aa')
				if($(this).is(':checked')){
					
					idArray.push(o.val());
					
					nameArry.push(o.parent().text());
					// var managerIdStr={userId:o.val(),realname:o.parent().text()}
					// manager.push(managerIdStr)

					
				}else{

					idArray.splice($.inArray(o.val(), idArray), 1);
					nameArry.splice($.inArray(o.parent().text(), nameArry), 1);
					// var managerIdStr={userId:o.val(),realname:o.parent().text()}
					// manager.splice($.inArray(o.parent().text(), manager), 1);
					
				}
				removeDuplicatedItem(idArray)
				replaceEmptyItem(idArray)
				replaceEmptyItem(nameArry)
				if(idArray.length<nameArry.length){
					removeDuplicatedItem(nameArry)
				}
				
				// console.log(idArray)
				// console.log(nameArry)
				
				// setCookie("manager",manager1)
				setCookie("managerIdStr",idArray)
				setCookie("managerName",nameArry)
				// setCookie("manager",manager)
			})
		}
		
		$(document).ready(function(){
			city()
			setTimeout(function(){
				request({
					url: "{{api}}mapi",
					data: {_api:'zj.custmger.fetchCustomerMagersByRegion',_v:'1.0',provinceCode:getQueryParam('provinceCode')||undefined,cityCode:getQueryParam('cityCode')||undefined,districtCode:getQueryParam('districtCode')||undefined},
					type: "post",
					dataType:"jsonp",
			    	jsonp:'callback',
				}).done(function(response){
					response.city=city;
					response.provinceCode = getQueryParam('provinceCode')||undefined;
					response.cityCode = getQueryParam('cityCode')||undefined;
					response.districtCode = getQueryParam('districtCode')||undefined;
					response.districtCodeStr = getQueryParam('districtCodeStr')||undefined;
					response.cityCodeStr = getQueryParam('cityCodeStr')||undefined;
					

					// alert(getCookie("manager"))
					
					if(getCookie("managerIdStr")){
						// alert('aa')
						idArray=getCookie("managerIdStr").split(',');
						nameArry=getCookie("managerName").split(',');
						// console.log(getCookie("managerIdStr"))
						for (var a = 0; a<idArray.length; a++) {
							var idArrayStr=idArray[a];
							var nameStr=nameArry[a];
							arryString={id:idArrayStr,realname:nameStr}
							manager1.push(arryString)
							
						}
						console.log(manager1)
						
						managerJO=manager1;
						for (var i = 0; i < managerJO.length; i++) {
							for (var a = 0; a<response.model.length; a++) {
								if(managerJO[i].id==response.model[a].id){
									response.model[a].isChecked=true
								}
							}
						}
					}
					console.log(getCookie("manager"))
					if(getCookie("manager")){
						managerJO=JSON.parse(getCookie("manager"));
						idArray=getCookie("managerIdStr").split(',');

						nameArry=getCookie("managerName").split(',');
						console.log(managerJO)
						for (var i = 0; i < managerJO.length; i++) {
							for (var a = 0; a<response.model.length; a++) {
								if(managerJO[i].id==response.model[a].id){
									response.model[a].isChecked=true
								}
							}
						}
					}
					substitute("#list-template", response);
					$(".btnSum2").click(function () {
						// alert('aa1')
						console.log(idArray)
						for (var a = 0; a<idArray.length; a++) {
							var idArrayStr=idArray[a];
							var nameStr=nameArry[a];
							arryString={id:idArrayStr,realname:nameStr}
							manager.push(arryString)
							
						}
						
						// var managerStr=manager.toString()
						var manager1=JSON.stringify(manager)
						// console.log(manager1)
						setCookie("manager",manager1)

						location.href='/moongood/activity/zhanshi'

					})
					$('select[name="provinceCode"]').change(function(){
						var provinceCode=$('select[name="provinceCode"]').val();
						$('select[name="districtCode"]').parent().hide();
						for (var i = 0; i <city.length; i++) {
							if(city[i].areaId==provinceCode){
								aa=i;
								$('select[name="cityCode"]').parent().show();
								$('select[name="cityCode"]').children('option').remove();
								
								$('select[name="cityCode"]').append('<option value="">选择市</option>')
								for (var a = 0; a <city[i].cities.length; a++) {
									$('select[name="cityCode"]').append('<option value="'+city[i].cities[a].areaId+'">'+city[i].cities[a].areaName+'</option');
									
								}
								
							}
						}
					});
					$('select[name="provinceCode"]').blur(function(){
						var provinceCode=$('select[name="provinceCode"]').val();
						$('select[name="districtCode"]').parent().hide();
						for (var i = 0; i <city.length; i++) {
							if(city[i].areaId==provinceCode){
								aa=i;
								$('select[name="cityCode"]').parent().show();
								$('select[name="cityCode"]').children('option').remove();

								$('select[name="cityCode"]').append('<option value="">选择市</option>')
								for (var a = 0; a <city[i].cities.length; a++) {
									$('select[name="cityCode"]').append('<option value="'+city[i].cities[a].areaId+'">'+city[i].cities[a].areaName+'</option');
									
								}
								
							}
						}
					});
					$('select[name="cityCode"]').change(function(){
						// alert(aa)
						var cityCode=$('select[name="cityCode"]').val();
						for (var i = 0; i <city[aa].cities.length; i++) {
							if(city[aa].cities[i].areaId==cityCode){
								$('input[name="cityCodeStr"]').val(city[aa].cities[i].areaName)
								ii=i;
								$('select[name="districtCode"]').parent().show();
								$('select[name="districtCode"]').children('option').remove();
								$('select[name="districtCode"]').append('<option value="">选择区</option>')
								for (var a = 0; a <city[aa].cities[i].counties.length; a++) {

									$('select[name="districtCode"]').append('<option value="'+city[aa].cities[i].counties[a].areaId+'">'+city[aa].cities[i].counties[a].areaName+'</option');
									
								}
								
							}
						}
					});
					$('select[name="districtCode"]').change(function(){
						// alert(aa)
						var districtCode=$('select[name="districtCode"]').val();
						for (var i = 0; i <city[aa].cities[ii].counties.length; i++) {
							if(city[aa].cities[ii].counties[i].areaId==districtCode){
								$('input[name="districtCodeStr"]').val(city[aa].cities[ii].counties[i].areaName)
								
								
								
							}
						}
						
						
					});
					setVal();
					getList(".provinceCode option",response.provinceCode);	
				})
				
				
			}, 500);	
		})
	</script>
{% endblock %}

